
<ion-content class="background" style="background-image: url(../../assets/mainpage.jpg); ">
  <div style="display: flex; justify-content: center; margin-right: auto; flex-direction: column; margin-left: auto; width: 85%;" >
  <div class="ion-padding" style="padding-top: 1.4rem">
    <h1 class="h1-life-saver" style="font-family: Righteous; color: white; text-align: center">Life Saver</h1>
  </div>

  <div class="ion-padding" style="display: flex; margin-top: 50%; flex-direction:column;">
      <ion-button expand="block" color="dark" style="letter-spacing: 4px; font-size: 1rem; font-weight: bolder">SIGN UP</ion-button>
      <ion-button expand="block" color="dark" style="letter-spacing: 4px; font-size: 1rem; font-weight: bolder">LOG IN</ion-button>
  </div>
</div>
</ion-content>
